<h1><%= @place["name"]%></h1>

<p>
  <a href="/places/new">Add a New Place</a>
  <a href="/entries/new?place_id=<%=@place.id%>">New Entry for <%= @place.name %></a>
</p>

<p>
  <a href="/places">Back to All Places</a>
</p>